.green {
  background-color: #7fb7b2;
}

.red {
  background-color: #bd1903;
}

.yellow {
  background-color: #ffbb2f;
}

.box {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

#box1 {
  border: 5px solid black;
  font-family: Garamond;
  font-weight: bold;
  font-size: 26px;
  font-color: #7fb7b2;
}

#box2 {
  border: 5px solid black;
}

#box3 {
  border: 5px solid black;
}

#box4 {
  border: 5px solid black;
}

#box5 {
  border: 5px solid black;
}
